.page1 {
  display: flex;
  height: 92vh;
  background-color: rgb(10, 10, 10);
  > * {
    width: 50%;
  }
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}
.personal h1 {
  width: fit-content;
  font-size: clamp(5rem, 8vw, 8.5rem);
  white-space: nowrap;
  font-weight: 900;
}
.personal p {
  width: fit-content;
  font-size: clamp(1rem, 2vw, 1.5rem);
  white-space: nowrap;
  transform: translateY(-0.5rem);
}
.personalCon {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: flex-end;
  margin-right: 2rem;
}
.hero img {
  width: 100%;
}
.link {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.social img {
  height: 100%;
  color: white;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(112, 112, 112);
  cursor: pointer;
}
.social p {
  transform: none;
  font-size: 1rem;
}
.social:hover {
  background-color: brown;
}

.btn {
  margin-top: 5rem;
}
.btn button {
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(219, 0, 0);
  color: white;
  border: none;
  border-radius: 0.5rem;
}

@media (max-width: 1450px) {
  .page1 {
    flex-direction: column;
    > * {
      width: 100%;
    }
  }
  .personal {
    height: 40%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  .hero {
    height: 60%;
    justify-content: center;
  }
  .hero img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }

  .personal h1 {
    font-size: clamp(3rem, 8vw, 7rem);
  }
  .personal p {
    font-size: clamp(0.7rem, 2vw, 1.5rem);
  }
  .personalCon {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title p {
    color: white;
    margin-block: 1.5rem;
    font-size: 1rem;
    letter-spacing: clamp(0.2rem, 1vw, 0.3rem);
    font-weight: 700;
  }
  .conwrapStat {
    flex-direction: column;
  }
  .pics {
    max-width: 100%;
  }
  .pics img {
    width: 25rem;
  }
  .desc {
    margin-left: 0;
    margin-top: 1rem;
  }
  .desc p,
  .desc2 p {
    margin-top: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    text-align: justify;
    font-size: 0.9rem;
  }
  .desc h3,
  .desc2 h3 {
    font-size: 1.5rem;
    font-weight: 800;
  }
}
@media (max-width: 550px) {
  .desc p,
  .desc2 p {
    margin-top: 1rem;
    letter-spacing: 0;
    line-height: 1.3rem;
    text-align: justify;
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  .photos {
    flex-direction: column;
    height: auto;
  }
  .conwrap {
    margin: 1rem;
  }
}
